/*
.gtPoll__question,
.gtPoll__results {
  background-color:#CCC; 
  padding:1.5rem;
}

.gtPoll__question-text {
  font-size:1.125rem;
  display:block;
  margin:1rem 0;
}

.gtPoll__response-label,
.gtPoll__result-info {
  font-size:1rem;
  color:#000;
}

.gtPoll__answer-list {
  list-style-type: none;
  margin:0;
  padding:0;
}

.gtPoll__answer-item {
  margin-bottom: 1rem;
}

.gtPoll__answer-list::last-of-type {
  margin-bottom:0;
}

.gtPoll__result-bar {
  height:1rem;
  width:1px;
  background-color:#41985E; 
  transition:0.5s width ease-in-out;
}

.gtPoll--inactive .gtPoll__question { display:none; }
.gtPoll--active .gtPoll__results { display:none; }
*/

.gtPoll {
  display: inline-block;
  perspective: 1000px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  position:absolute;
  height:100%;
  width:100%;
}

.gtPoll__card {
  transition: 0.5s;
  transform-style: preserve-3d;
  position:absolute;
  height:100%;
  width:100%;
}

.gtPoll--inactive .gtPoll__card {
  transform: rotateY(180deg);
}

.gtPoll__question,
.gtPoll__results {
  background-color:#CCC; 
  padding:1.5rem;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
}

.gtPoll__question {
  z-index: 2;
  transform: rotateY(0deg);
}

.gtPoll__results {
  transform: rotateY(180deg);
}

.gtPoll__question-text {
  font-size:1.125rem;
  display:block;
  margin:1rem 0;
}

.gtPoll__response-label,
.gtPoll__result-info {
  font-size:1rem;
  color:#000;
}

.gtPoll__answer-list {
  list-style-type: none;
  margin:0;
  padding:0;
}

.gtPoll__answer-item {
  margin-bottom: 1rem;
}

.gtPoll__answer-list::last-of-type {
  margin-bottom:0;
}

.gtPoll__result-bar {
  height:1rem;
  min-width:1px;
  background-color:#41985E; 
  transition:0.5s width ease-in-out;
}